package pages

import "github.com/rezuscloud/platform-website/views"

templ Home() {
	@views.SceneLayout(
		"RezusCloud | Terminal to Macintosh to Linux",
		"A scroll-driven retro computing scene: phosphor terminal, Macintosh System 1, and Linux X11/TWM.",
	) {
		@HomeScene()
	}
}
